article{
    display: grid;
    grid-template-columns: 1fr 0.5in [start]  8.5in 2in  [end] 0.5in 1fr;
    height: 100vh;
    padding: 0.5in 0;
    
}
@media(max-width: 12.5in){
    article{ grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;}
}

article * {
    grid-column: start/end;
}
h1{
    padding-top: 5rem;
    font-size: 2.1rem;
    color: blueviolet;
   
}
h2{
    padding-top: 2rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
h3{
    padding-top: 5rem;
    font-size: 2.1rem;
    color: blueviolet;
    padding-bottom: 1rem;
    background: linear-gradient(yellow , white 1in);
}
.para1{
    grid-column: 3/4;
   
    
}
.img1{grid-column: 4/end;
 border-style:solid ;
border-color: black;}

.size1{
    grid-column: start/4;
}
.size1 img{width: 500px;height: 1100px;}
p:last-child{padding-bottom: 3rem; border:0 0 2px 0; background-color: black;}

article img{
    width: 150px;
    height: 210px;
    
 }